name: Generate Profile Summary Cards (Self-hosted)

on:
  workflow_dispatch:
  schedule:
    - cron: "15 0 * * *"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate cards (no auto push)
        uses: vn7n24fzkq/github-profile-summary-cards@release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          USERNAME: mly808299
          AUTO_PUSH: false

      - name: Publish to assets branch
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: assets
          publish_dir: profile-summary-card-output
          force_orphan: true
